$font-color: rgb(0,0,66);
$background-color: rgba(122, 139, 193, 0.38);

a:link {
  text-decoration: none;

}
.sidebar{
  width: 250px;
  height: 300px;
  background-color: #1f648b;
  color: #0d3625;
}

.calendar {
  font-weight: 700;
  background: $background-color;;
  width: 800px;

  .month {
    margin-top: 50px;
    display: inline-block;
    width: auto;
    align-content: center;
    table {
      tr {

        td{
          border:0.5px dashed #4f6185;
          width: 25px;
          height: 25px;


        .weekend {
          background-color: #b698d6;
          color: $font-color;
          align: center;
          font-weight: 700;
        }

        .noWeekend {
          background-color: #b3cff7;
          color: $font-color;
          align: center;
          font-weight: 700;
        }
        }
      }
    }
  }
}


